make_corpus/cache/2of4brif.txt
make_corpus/cache/FoxStoplist.txt
make_corpus/cache/SmartStoplist.txt
make_corpus/cache/bnc/
make_corpus/cache/bnc_paragraphs.pkl
data-processing/cache/hdptm_201117172636_2290_state_*.npz 
data-processing/cache/bnc_texts_78639361_183975_251_499.npz
data-processing/cache/brisbane_06b643a_recall_results.pkl 
data-processing/cache/Brismo.cfg
